<% layout("layout") -%>

  <div class="container">
    <div class="panel panel-info" id="myScrollspy" style="padding: 10px; margin-top: 50px;">

      <div class="container">
        <div class="dropdown" style="margin-top: 20px; margin-left: -10px;">
          <button style="border-radius: 5px;" class="dropdown-toggle" type="button" data-toggle="dropdown">--Please Select--
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li>
              <a href="#">1</a>
            </li>
            <li>
              <a href="#">2</a>
            </li>
            <li>
              <a href="#">3</a>
            </li>
          </ul>
        </div>
      </div>

      <br>
      <div class="table-responsive">
        <div style="overflow-y: scroll; height:350px; ">
          <table class="table table-striped">
            <thead>
              <tr>
                <th style="color: #ffffff; background-color: #020531;">Post #</th>
                <th style="color: #ffffff; background-color: #020531;">Category</th>
                <th style="color: #ffffff; background-color: #020531;">Title</th>
                <th style="color: #ffffff; background-color: #020531;">Action</th>
                <th style="color: #ffffff; background-color: #020531;">Date Submitted</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>2018-00000</td>
                <td>Chenes</td>
                <td>ang ka Chenesan</td>
                <td>
                  <button data-toggle="modal" data-target="#myModal">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                  </button>
                  <button data-toggle="modal" data-target="#editModal">
                    <i class="fa fa-edit" aria-hidden="true"></i>
                  </button>
                </td>
                <td>April 2, 2018</td>
              </tr>
              <tr>
                <td>2018-00000</td>
                <td>Chenes</td>
                <td>ang ka Chenesan</td>
                <td>
                  <button data-toggle="modal" data-target="#myModal">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                  </button>
                  <button data-toggle="modal" data-target="#editModal">
                    <i class="fa fa-edit" aria-hidden="true"></i>
                  </button>
                </td>
                <td>April 2, 2018</td>
              </tr>
              <tr>
                <td>2018-00000</td>
                <td>Chenes</td>
                <td>ang ka Chenesan</td>
                <td>
                  <button data-toggle="modal" data-target="#myModal">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                  </button>
                  <button data-toggle="modal" data-target="#editModal">
                    <i class="fa fa-edit" aria-hidden="true"></i>
                  </button>
                </td>
                <td>April 2, 2018</td>
              </tr>
              <tr>
                <td>2018-00000</td>
                <td>Chenes</td>
                <td>ang ka Chenesan</td>
                <td>
                  <button data-toggle="modal" data-target="#myModal">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                  </button>
                  <button data-toggle="modal" data-target="#editModal">
                    <i class="fa fa-edit" aria-hidden="true"></i>
                  </button>
                </td>
                <td>April 2, 2018</td>
              </tr>
              <tr>
                <td>2018-00000</td>
                <td>Chenes</td>
                <td>ang ka Chenesan</td>
                <td>
                  <button data-toggle="modal" data-target="#myModal">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                  </button>
                  <button data-toggle="modal" data-target="#editModal">
                    <i class="fa fa-edit" aria-hidden="true"></i>
                  </button>
                </td>
                <td>April 2, 2018</td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- //modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-m">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Delete News and Announcement</h4>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Yes</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="editModal" role="dialog">
    <div class="modal-dialog modal-m">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Edit News and Announcement</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="usr">Title:</label>
            <input type="text" class="form-control" id="usr">
          </div>
          <div class="form-group">
            <label for="comment">Content:</label>
            <textarea class="form-control" rows="5" id="comment"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Update</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>