<% layout("layout") -%>
  <div class="col-sm-3" style=" padding: 10px; margin-top: 50px;" overflow-x: hidden;>
    <div class="col-lg-12">
      <% include ../partials/adminpanel %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="container">
      <div class="panel panel-info  col-sm-9" id="myScrollspy" style="padding: 0px; margin-top: 58px;">
        <div class="panel-heading" style="color: #ffffff;">

  <div class="container">
  <% include ../partials/adminpanel %>
    <div class="panel panel-info" id="myScrollspy" style="padding: 10px; margin-top: 50px;">
      <br>
      <form action="/postnewsandannouncements" method="POST">
      <div class="form-group">
        <label for="usr">Category:</label>
        <select name="category" class="form-control" id="usr">
          <option value="news">News</option>
          <option value="announcenment">Announcement</option>
        </select>
      </div>
      <div class="form-group">
        <label for="usr">Title:</label>
        <input type="text" name="title" class="form-control" id="usr">
      </div>
      <div class="form-group">
        <label for="comment">Content:</label>
        <textarea name="content" class="form-control" rows="10" id="comment"></textarea>
      </div>
      <button style="width: 100px;" class="btn btn-primary">
      Post</button>
      <div style="text-align: right;">
        
        <button type="button" style="width: 100px;" class="btn btn-danger">
          Discard</button>
      </div>
      </form>
    </div>
  </div>

        <br>
        <div style="padding: 10px;">
          <div class="form-group">
            <label for="usr">Title:</label>
            <input type="text" class="form-control" id="usr">
          </div>
          <div class="form-group">
            <label for="comment">Content:</label>
            <textarea class="form-control" rows="10" id="comment"></textarea>
          </div>

          <div style="text-align: right;">
            <button type="button" style="width: 100px;" class="btn btn-primary">
              Post</button>
            <button type="button" style="width: 100px;" class="btn btn-danger">
              Discard</button>
          </div>
        </div>
      </div>
    </div>
    <!-- //modal -->
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog modal-m">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Delete News and Announcement</h4>
          </div>
          <div class="modal-body">
            <p>Are you sure you want to delete?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Yes</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="editModal" role="dialog">
      <div class="modal-dialog modal-m">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Edit News and Announcement</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="usr">Title:</label>
              <input type="text" class="form-control" id="usr">
            </div>
            <div class="form-group">
              <label for="comment">Content:</label>
              <textarea class="form-control" rows="5" id="comment"></textarea>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Update</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>