<% layout("layout") -%>
  <div class="container">
    <div class="panel panel-info" id="myScrollspy" style="padding: 10px; margin-top: 50px;">
      <div class="panel-heading">
        <h3>
          <span style="color: #ffffff;">User Account Details</span>
          <p style="color: #ffffff; font-size: 10px;">
            <a href="/manageaccount" style="text-decoration: underline">Manage Account</a> >> User Account Details</p>
        </h3>
      </div>
      <h1>
        <span>Jose Carlo R. San Pedro</span>
        <span style=" font-size: 20px; align:right ">2012-105736</span>
      </h1>
      </br>
      <h3>
        <span>Account Type: Student </span>
      </h3>
      <h3>
        <span>Year and Section: BSCPE 5D </span>
      </h3>
      <h3>
        <span>Gender: Male</span>
      </h3>
      <h3>
        <span>Age: 21</span>
      </h3>
      <h3>
        <span>Birthday: March 2, 1996</span>
      </h3>

      <h3>
        <span>Address: Paltao Pulilan Bulacan</span>
      </h3>

      <h3>
        <span>Contact: 09970869245</span>
      </h3>
    </div>
  </div>