<footer style="background-size: cover; background-color: #eef3fc; margin: 0%; padding-top:4%; padding-bottom:3%;">
    <div class="row">
      <div class="col-lg-12">
        <center><p>Copyright &copy; PBC Sunbeam School Inc. 2018</p></center>
      </div>
    </div>
  </footer>