<nav class="navbar navbar-inverse">
  <img src="/images/sample.png" class="sunbeamlogo">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">
        <span>PBC SUNBEAM SCHOOL INC.</span>
      </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Dashboard Test
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="/users/new">Admin</a>
            </li>
            <li>
              <a href="/encode1-grades">Faculty</a>
            </li>
            <li>
              <a href="/studentdashboard">Student</a>
            </li>
          </ul>
        </li>

        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">ABOUT
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="/history">History</a>
              </li>
              <li>
                <a href="/vmop">VMPO's</a>
              </li>
              <li>
                <a href="/policies">Policies</a>
              </li>
              <li>
                <a href="/orgchart">Organizational Chart</a>
              </li>
              <li>
                <a href="/facilities">Facilities</a>
              </li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">ADMISSION
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="/admissionreq">Admission Requirements</a>
              </li>
              <li>
                <a href="/scholarships">Scholarships</a>
              </li>
              <% if(!loginUser){ %>
                <li>
                  <a href="/register">Register Now</a>
                </li>
                <%} %>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">COMMUNITY
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="/faculty">Faculty and Staff</a>
              </li>
              <li>
                <a href="/clubs">Clubs</a>
              </li>
              <li>
                <a href="/activities">Activities</a>
              </li>
              <li>
                <a href="/news">News / Announcements</a>
              </li>
              <li>
                <a href="/gallery">Gallery</a>
              </li>
            </ul>
          </li>
          <li>
            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal2">
              <span class="glyphicon glyphicon-search"></span> Search</button>
          </li>
          <% if (!loginUser) { %>

            <li>
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Signup / Login</a>
              <ul class="dropdown-menu">
                <li id="pink1">
                  <a href="/signup">Signup</a>
                </li>
                <li id="pink1">
                  <a data-toggle="modal" data-target="#announcementModal">Login</a>
                </li>
              </ul>
            </li>

            <% } else { %>

              <li>
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                  <%= loginUser.profile.name %>
                </a>
                <ul class="dropdown-menu">
                  <% if(loginUser.isAdmin && loginUser.superUser){ %>
                    <li>
                      <a href="/users/new">Admin Interface</a>
                    </li>
                    <% } %>
                      <li>
                        <a href="/profile">Profile</a>
                      </li>
                      <li>
                        <a href="/logout">Logout</a>
                      </li>
                </ul>
              </li>
              <% } %>
        </ul>
    </div>
  </div>
</nav>


<div class="modal fade" id="announcementModal" role="dialog">
  <div class="modal-dialog modal-m">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Login</h4>
        <div class="row">
          <div class="col-lg-4 col-md-4"></div>
          <div class="col-lg-4 col-md-4">

            <% if(message.length >0){ %>
              <div class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>

                </button>
                <%= message %>
              </div>
              <% } %>

          </div>
        </div>

        <div class="row">
          <div class="col-md-4 col-sm-4"></div>
          <div class="col-md-4 col-sm-4"></div>
          <div class="col-md-4 col-sm-4">
            <div style="padding-top: 50px;">
              <form action="/login" method="POST" class="form-signin" style="margin: 50px auto; box-shadow: none; border-radius: 10px; border:1px solid black; background-color: rgba(255, 255, 255,0.8);">
                <h1 class="form-signin-heading text-muted">SIGN IN</h1>
                <input class="form-control" type="text" name="email" placeholder="EMAIL">
                <input class="form-control" type="password" name="password" placeholder="PASSWORD">
                <button id="pink" class="form-control">SIGN IN</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>