<% layout("layout") -%>
    <div class="col-sm-3" style=" padding: 10px; margin-top: 50px;" overflow-x: hidden;>
        <div class="col-lg-12">
            <% include ../partials/facultypanel %>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="container">
            <div class="panel panel-info  col-sm-9" id="myScrollspy" style="padding: 0px; margin-top: 80px; height:460px;">

                <div class="panel-heading" style="color: #ffffff;">View Encoded Grades</div>
                <br>
                <label for="usr " style="margin-left: 5px; ">Year:</label>
                <label for="usr " style="margin-left: 55px; ">Section:</label>
                <label for="usr " style="margin-left: 110px; ">Subject:</label>
                <label for="usr " style="margin-left: 125px; ">No.of Students:</label>
                <br>
                <div class="table-responsive">
                    <div style="overflow-y: scroll; height:350px; ">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th style="color: #ffffff; background-color: #020531;">Student </th>
                                    <th style="color: #ffffff; background-color: #020531;">1st Grading</th>
                                    <th style="color: #ffffff; background-color: #020531;">2nd Grading</th>
                                    <th style="color: #ffffff; background-color: #020531;">3rd Grading</th>
                                    <th style="color: #ffffff; background-color: #020531;">4th Grading</th>
                                    <th style="color: #ffffff; background-color: #020531;">Final Grade</th>
                                    <th style="color: #ffffff; background-color: #020531;">Remarks</th>
                                </tr>
                            </thead>
                           <% subject.forEach(function(subject){ %>

                            <tr>
                                <td><%= subject.lastname %>, <%= subject.firstname %> <%= subject.middleName %></td>
                                <td><input class="form-control" type="text" name="firstGrading" /></td>
                                <td><input class="form-control" type="text" name="secondGrading" /></td>
                                <td><input class="form-control" type="text" name="thirdGrading" /></td>
                                <td><input class="form-control" type="text" name="fourthGrading" /></td>
                                <td><input class="form-control" type="text" name="finalGrading" /></td>
                                <td><input class="form-control" type="text" name="remarks" /></td>
                            </tr>
                            <% }); %>                            
                        </table>

                    </div>
                </div>
            </div>
        </div>

    </div>
    </div>
    </div>
    </div>