<% layout("layout") -%>
  <% include ../partials/Carousel %>

    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header">
            ACTIVITIES
          </h1>
          <br>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="col-lg-12">
        <div class="panel panel-info">
          <div class="panel-heading" style="text-align:center;">
            <h4>
              <a> CALENDAR OF ACTIVITIES </a>
            </h4>
          </div>
          <div class="panel-body">
            <ul>
              <li>July - Nutrition Month Celebration</li>
              <li>July - Investiture of Scouts, Indoor Camping for Grades 4-6</li>
              <li>August - Buwan ng Wika</li>
              <li>September - Indoor Camping for Highschool Students</li>
              <li>October - Career Guidance Week</li>
              <li>October - United Nations Celebration</li>
              <li>November - Scie-Math Celebration</li>
              <li>November - Spiritual Retreats for Graduating Students</li>
              <li>December - Indoor Day Camp for Pre-Elementary and Primary Level</li>
              <li>December - Christmas Cantata and School Founding Anniversary</li>
              <li>December - Christmas Party</li>
              <li>January - Intramurals</li>
              <li>January - English Week</li>
              <li>February - Junior and Senior Promenade</li>
              <li>March - Recognition and Graduation Rites</li>
            </ul>

          </div>

        </div>
      </div>
    </div>