
  <% layout("layout") -%>

  <div class="col-sm-12">
    <div class="container">
      <div class="panel panel-info" id="myScrollspy" style="padding: 0px; margin-top: 78px;">
        <div class="panel-heading" style="color: #ffffff;">Search</div>
  
          <br>
          <div class="table-responsive">
            <div style="overflow-y: scroll; height:350px; ">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th style="color: #ffffff; background-color: #020531;">Title</th>
                    <th style="color: #ffffff; background-color: #020531;">Content</th>
                    <th style="color: #ffffff; background-color: #020531;">Action</th>
                    <th style="color: #ffffff; background-color: #020531;">Date Submitted</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>chenes</td>
                    <td>kachenesan</td>

                    <td>April 2, 2018</td>
                    <td><button><i class="fa fa-eye"></i></button>
                    </td>
                  </tr>
                  <tr>
                    <td>chenes</td>
                    <td>kachenesan</td>

                    <td>April 2, 2018</td>
                    <td><button><i class="fa fa-eye"></i></button>
                    </td>
                  </tr>  <tr>
                    <td>chenes</td>
                    <td>kachenesan</td>

                    <td>April 2, 2018</td>
                    <td><button><i class="fa fa-eye"></i></button>
                    </td>
                  </tr>  <tr>
                    <td>chenes</td>
                    <td>kachenesan</td>

                    <td>April 2, 2018</td>
                    <td><button><i class="fa fa-eye"></i></button>
                    </td>
                  </tr>  <tr>
                    <td>chenes</td>
                    <td>kachenesan</td>

                    <td>April 2, 2018</td>
                    <td><button><i class="fa fa-eye"></i></button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          </div>
          </div>
          </div>
          
    <script>
        var delay = 2000;
      window.onload = function(){
        setTimeout( myfunction, delay )
        // document.getElementById("btn").click();
    
      };
      function myfunction() {
        document.getElementById("btn").click();
     }
    </script>